body { margin: 5%; text-align: justify; font-size: medium; }


pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

:not(pre)>code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}


body>p,section>p {
    text-indent:2em;
}
h1 { text-align: left; }
h2 { text-align: left; }
h3 { text-align: left; }
h4 { text-align: left; }
h5 { text-align: left; }
h6 { text-align: left; }

nav#toc ol,
nav#landmarks ol { padding: 0; margin-left: 1em; }
nav#toc ol li,
nav#landmarks ol li { list-style-type: none; margin: 0; padding: 0; }
a.footnote-ref {
    position: relative;
    vertical-align: super;
    font-size: 0.83em;
}

em, em em em, em em em em em { font-style: italic;}
em em, em em em em { font-style: normal; }

code{ white-space: pre-wrap; }

span.smallcaps{ font-variant: small-caps; }

span.underline{ text-decoration: underline; }

q { quotes: "“" "”" "‘" "’"; }

div.column{ display: inline-block; vertical-align: top; width: 50%; }

blockquote {
    font-family: 'KaiTi', 'KaiTi_GB2312', 'STKaiti', 'DejaVu Sans Mono';
}

.flushleft{
    text-align: left!important;
}
.flushright{
    text-align: right!important;
}

.center{
    text-align: center !important;
}